<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ artist.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="artistImageUrl" [alt]="altTag" />
  <mat-card-content>
    <mat-nav-list>
      <app-album-list-item
        *ngFor="let album of artist.albums"
        [album]="album"
      ></app-album-list-item>
    </mat-nav-list>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-raised-button
      color="primary"
      [href]="artist.external_url"
      target="_blank"
    >
      <span>View on Spotify</span>
    </a>
  </mat-card-actions>
</mat-card>
