@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .artist-list {
    max-width: 460px;
  }

  .artist-list > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media only screen and (min-device-width: 800px) {
  .container {
    width: 50%;
    margin: 0 auto;
  }

  .artist-list {
    max-width: 600px;
  }

  .artist-list > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

body {
  background-color: #fafafa;
  padding-top: 64px;
}

.artist-list {
  display: flex;
  flex-direction: column;
}

.login {
  width: 50%;
  margin: 100px auto;
}

.sticky-nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}
