<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>
<mat-progress-bar
  *ngIf="loading"
  color="primary"
  mode="indeterminate"
></mat-progress-bar>
<div class="container">
  <div *ngIf="!loading && accessToken">
    <h1>Checkout these albums from artists you like</h1>
    <app-artist-card
      class="artist-card"
      *ngFor="let artist of artists"
      [artist]="artist"
    ></app-artist-card>
  </div>
  <div class="login">
    <button
      mat-raised-button
      color="primary"
      *ngIf="!accessToken"
      (click)="login()"
    >
      Login
    </button>
  </div>
</div>
